body,
html {
  background-image: url("../../../../assets/img/stock_background.jpg");
  width: 100%;
  height: 1080px;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.products {
  margin-top: 100px;
}

.btn-danger,
.btn-success,
.btn-warning,
.btn-info {
  margin-left: 20px;
}
.searchbox {
  margin-top: 10px;
}

div.mobiles span,
div.computers span,
div.ac span,
div.fridge span,
div.all span {
  font-weight: bold;
}
p {
  font-weight: 500;
}
.mobiles,
.computers,
.ac,
.fridge,
.alll {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobiles:hover,
.computers:hover,
.ac:hover,
.fridge:hover,
.alll:hover {
  background-color: rgb(156, 153, 153);
}

div.mobiles a.add-to-cart-link,
div.computers a.add-to-cart-link,
div.ac a.add-to-cart-link,
div.fridge a.add-to-cart-link,
div.alll a.add-to-cart-link,
div.mobiles a.view-details-link,
div.computers a.view-details-link,
div.ac a.view-details-link,
div.fridge a.view-details-link,
div.alll a.view-details-link {
  background: none repeat scroll 0 0 #5a88ca;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  z-index: 99;
  transition: 0.4s;
}

div.mobiles a.add-to-cart-link,
div.computers a.add-to-cart-link,
div.ac a.add-to-cart-link,
div.fridge a.add-to-cart-link,
div.alll a.add-to-cart-link {
  margin-top: -30px;
  margin-bottom: 5px;
}
div.mobiles a.view-details-link,
div.computers a.view-details-link,
div.ac a.view-details-link,
div.fridge a.view-details-link,
div.alll a.view-details-link {
  margin-bottom: 5px;
}

div.mobiles a.add-to-cart-link:hover,
div.computers a.add-to-cart-link:hover,
div.ac a.add-to-cart-link:hover,
div.fridge a.add-to-cart-link:hover,
div.alll a.add-to-cart-link:hover,
div.mobiles a.view-details-link:hover,
div.computers a.view-details-link:hover,
div.ac a.view-details-link:hover,
div.fridge a.view-details-link:hover,
div.alll a.view-details-link:hover {
  background-color: black;
}

div.mobiles span:hover,
div.alll span:hover {
  color: white;
}

div.mobiles a.add-to-cart-link:active {
  background-color: red;
}
