/* .form-check-label {
  float: left;
  margin-top: -15px;
}
.lastname {
  float: left; */

body,
html {
  background-image: url("../../../../assets/img/stock_background.jpg");
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  margin-top: 50px;
}
