/* Background Image customization */
body,
html {
  width: 1519px;
  background-image: url("../../../../assets/img/stock_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  margin-right: 0px;
  overflow-x: hidden;
}

/* About Content */
.about-section {
  margin-top: 120px;
}

/* paragraph tag  */
p {
  color: black;
  padding-left: 30px;
  font-size: 17px;
}

/* vertical line besides name */
.vertical-line {
  border-left: 5px solid grey;
  height: 100px;
  margin-top: 40px;
  /* margin-right: -100px; */
}

/* Name and designation */
.right-content {
  margin-left: -350px;
  padding-top: 20px;
}

/* Card section padding */
.card-section {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* Font-awesome icons and links to my social networks */
.instagram {
  font-size: 35px;
}
.fa-instagram {
  color: red;
}
.github {
  font-size: 35px;
}
.fa-github {
  color: rgb(51, 51, 51);
}
.telegram {
  font-size: 35px;
}
.fa-telegram {
  color: rgb(32, 133, 201);
}
.whatsapp {
  font-size: 35px;
}
.fa-whatsapp {
  color: green;
}

.common {
  margin-left: 150px;
}
