/*//////////// Page Background ////////////*/
body,
html {
  background-image: url("../../../assets/img/stock_background.jpg");
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  margin-right: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*//////////// Carousel customizations ////////////*/
.carousel {
  margin-top: 120px;
}

.carousel-item {
  height: fit-content;
  width: 100%;
}

div.carousel-inner h2 {
  text-align: center;
}

div.carousel-inner h2 span {
  background-color: white;
  color: black;
}

p span {
  background-color: white;
  color: black;
}

.carousel-control-prev {
  width: 150px;
  margin-left: 50px;
}
.carousel-control-next {
  width: 150px;
  margin-right: 50px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(96, 201, 233, 0.4);
}

/*//////////// Benefits Area ////////////*/
.benefits-area {
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Benefits icons and colors */
.icon1,
.icon2,
.icon3,
.icon4 {
  width: 250px;
  height: 150px;
  font-size: 30px;
  background-color: yellow;
  text-align: center;
  font-weight: 200;
  padding-top: 30px;
  color: white;
  border-radius: 5px;
}

.icon2 {
  background-color: rgb(0, 153, 255);
}
.icon3 {
  background-color: rgb(255, 0, 55);
}
.icon4 {
  background-color: rgb(108, 66, 232);
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
  background-color: black;
}

/* ////////////  Product Area //////////// */
.product-area-title {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}

/* Product area container background color */
div.product-area .container {
  background-color: white;
  width: 75%;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-radius: 5px;
}

.single-product {
  display: block;
}
.product-f-image {
  position: relative;
}

/* shadow element to be shown on hover */
.product-hover {
  height: 243px;
  width: 195px;
  margin-left: 30px;
  left: 0;
  position: absolute;
  top: 0;
  overflow: hidden;

  border: 1px solid #ddd;
}

/* product links default position before hovering */
.product-hover a.add-to-cart-link {
  top: -25%;
}

.product-hover a.view-details-link {
  bottom: -100%;
}
/* on hover product links transformation */
.product-hover a {
  background: none repeat scroll 0 0 #5a88ca;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  left: 10%;
  margin: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  z-index: 99;
  transition: 0.4s;
}
/* marging between links and icon */
.product-hover a i.fa {
  margin-right: 5px;
}

/* shadow element default position before showing */
.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  transition: 0.4s;
}

/* shadow and link position after hover  */
.single-product:hover .product-hover a.add-to-cart-link {
  top: 28%;
}
.single-product:hover .product-hover a.view-details-link {
  bottom: 28%;
}
.single-product:hover .product-hover:after {
  left: 0;
}

/* Products link bg on hover */
.product-hover a:hover {
  background-color: black;
}

/*/////////// Brand Logo Carousel ////////////*/

div.brand-carousel .carousel {
  margin-top: 50px;
}
.brand-carousel {
  background-color: white;
  width: 1000px;
  height: 200px;
}
div.brand-carousel .carousel-inner {
  padding-top: 50px;
}

div.brand-carousel .carousel-control-prev {
  margin-bottom: -40px;
  margin-left: -230px;
}
div.brand-carousel .carousel-control-next {
  margin-bottom: -40px;
  margin-right: -230px;
}

/*/////////// News article content ///////////*/
div.articles-content {
  margin-bottom: 40px;
  margin-top: 60px;
}

div.article-area {
  background-color: white;
  height: 600px;
  padding: 0 5px 0 5px;
  margin-left: -195px;
  margin-right: 100px;
  border-radius: 5px;
}
div.content-area {
  background-color: wheat;
  height: 600px;
  margin-left: -100px;
  margin-right: -195px;
  border-radius: 5px;
}

.news1,
.news2,
.news3,
.news4 {
  background-color: wheat;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 20px 10px;
  font-size: 15px;
}

div.articles-content h4 {
  text-align: center;
  padding-top: 10px;
}
.footer-top-area .zigzag-bottom {
  background: #f4f4f4;
}
.footer-top-area {
  background: none repeat scroll 0 0 #333;
  color: #999;
  padding: 35px 0 60px;
}

.footer-about-us span {
  color: #5a88ca;
}
.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}

.footer-about-us h2 {
  font-weight: 200;
}
.footer-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer-menu ul li {
  border-bottom: 1px dashed #555;
  padding: 5px 0;
}
.footer-menu a {
  display: block;
  padding: 5px 0;
  color: #999;
}

.footer-social a {
  background: none repeat scroll 0 0 #5a88ca;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;
  border: 1px solid #5a88ca;
}

.footer-social a:hover {
  background-color: #222;
  border-color: #666;
}

.footer-social {
  margin-top: 20px;
}

.newsletter-form input[type="email"] {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.newsletter-form input[type="submit"] {
  background: none repeat scroll 0 0 #5a88ca;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 7px 20px;
  text-transform: uppercase;
  border: 1px solid #5a88ca;
}
.newsletter-form input[type="submit"]:hover {
  background: #222;
  border-color: #666;
}
.newsletter-form {
  margin-top: 25px;
}
a {
  color: #5a88ca;
}
a:hover,
a:focus {
  color: #17a78b;
}

/*//////////// Footer Area ////////////*/
.footer-area {
  background-color: black;
  color: white;
  padding-top: 40px;
}

div.copyright {
  margin-top: -6px;
  margin-bottom: 30px;
}
div.copyright i {
  font-size: 15px;
}
div.copyright p {
  font-weight: bold;
  font-size: 12px;
}

.fa-cc-mastercard,
.fa-cc-discover,
.fa-cc-visa,
.fa-cc-paypal {
  font-size: 35px;
  margin-right: 20px;
}

div.footer-card-icon {
  margin-top: -10px;
}
