.card-header {
  background-color: rgb(60, 173, 211);
  color: black;
  font-size: 20px;
}

body,
html {
  width: 1920px;
  height: 1080px;
  background-image: url("../../../assets/img/stock_background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: fixed;
  margin-right: 0px;
  overflow-x: hidden;
}

.container {
  padding-top: 40px;
}
