<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content">
      <div class="floating-menu">
        <div class="dropup">
          <button class="dropbtn">
            <i class="fa fa-cart-plus" aria-hidden="true"></i> Cart
          </button>
          <div class="dropup-content">
            <h6 align="center">Cart</h6>
            <h3 align="center" style="height: 100px;color: black;">
              Your Cart is Empty!
            </h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
