<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content">
      <div class="floating-menu">
        <div class="dropup">
          <button class="dropbtn" routerLink="/Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i> Cart
            <span *ngIf="count">{{ count }}</span
            ><span *ngIf="count1">+{{ count1 }}</span>
            <span *ngIf="count2">+{{ count2 }}</span>
            <span *ngIf="count3">+{{ count3 }}</span>
          </button>
          <div class="dropup-content">
            <h4 align="center">
              Cart
              <hr />
            </h4>
            <h3
              align="center"
              style="height:50px;color: black;"
              *ngIf="!cartItems && !cartItems1 && !cartItems2! && !cartItems3"
            >
              Your Cart is Empty! or Refresh to see cart Items
            </h3>
            <br />
            <div class="container" *ngIf="cartItems">
              <div
                class="cartitems"
                *ngFor="let cart of cartItems"
                style="height:50px"
              >
                {{ cart.name }}
              </div>
              <button
                class="clearCart btn btn-primary"
                (click)="removefromCart()"
              >
                Clear Cart
              </button>
            </div>
            <div class="container" *ngIf="cartItems1">
              <div
                class="cartitems1"
                *ngFor="let cart1 of cartItems1"
                style="height:50px"
              >
                {{ cart1.name }}
              </div>
              <button
                class="clearCart btn btn-primary"
                (click)="removefromCart1()"
              >
                Clear Cart
              </button>
            </div>
            <div class="container" *ngIf="cartItems2">
              <div
                class="cartitems"
                *ngFor="let cart2 of cartItems2"
                style="height:50px"
              >
                {{ cart2.name }}
              </div>
              <button
                class="clearCart btn btn-primary"
                (click)="removefromCart2()"
              >
                Clear Cart
              </button>
            </div>
            <div class="container" *ngIf="cartItems3">
              <div
                class="cartitems"
                *ngFor="let cart3 of cartItems3"
                style="height:50px"
              >
                {{ cart3.name }}
              </div>
              <button
                class="clearCart btn btn-primary"
                (click)="removefromCart3()"
              >
                Clear Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
