<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="content">
      <div class="floating-menu">
        <div class="dropup">
          <button class="dropbtn">
            <i class="fa fa-cart-plus" aria-hidden="true"></i> Cart {{ count }}
          </button>
          <div class="dropup-content">
            <h4 align="center">
              Cart
              <hr />
            </h4>
            <h3
              align="center"
              style="height:50px;color: black;"
              *ngIf="!cartItems"
            >
              Your Cart is Empty! or Refresh to see cart Items
            </h3>
            <div class="container" *ngIf="cartItems">
              <div
                class="cartitems"
                *ngFor="let cart of cartItems"
                style="height:50px"
              >
                {{ cart.name }}
              </div>
              <button
                class="clearCart btn btn-primary"
                (click)="removefromCart()"
              >
                Clear Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
