<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="fps-section">
      <div class="forgotpassword row justify-content-center">
        <div class="card col-md-6">
            <!-- Forgot pass header -->
          <header class="card-header">
            Forgot Password
          </header>
          <article class="card-body">
              <!-- Forgot pass body -->
            <form [formGroup]="forgotForm" (ngSubmit)="Save(forgotForm.value)">
              <div class="col form-group" formGroupName="userLogin">
                  <!-- input tag for Reactive form -->
                <label>Email Id</label>
                <input
                  class="form-control email-tag"
                  type="email"
                  placeholder="Enter Email ID"
                  formControlName="userEmail"
                  [class.is-valid]="
                    forgotForm.controls.userLogin.controls.userEmail.valid
                  "
                  [class.is-invalid]="
                    !forgotForm.controls.userLogin.controls.userEmail.valid &&
                    submitted
                  "
                />
                <div class="valid-feedback">
                  looking good!
                </div>
                <div class="invalid-feedback">
                  Check entered email!
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="
                    forgotForm.controls.userLogin.controls.userEmail.hasError(
                      'required'
                    ) &&
                    forgotForm.controls.userLogin.controls.userEmail.touched
                  "
                >
                  Email id is required!
                </div>
                <!-- submit button -->
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary float-right forgot"
                    [disabled]="!forgotForm.valid"
                  >
                    Send Mail
                  </button>
                </div>
              </div>
              <br />
            </form>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
