<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- User Cart page -->
    <div class="container cart-page">
      <div class="card">
        <!-- User Cart Header -->
        <header class="card-header">
          <h2>User Cart</h2>
          <!-- Empty Cart button if cart items present -->
          <button
            class="empty-cart btn btn-danger"
            (click)="removeItem()"
            *ngIf="
              cartPageItems ||
              cartPageItems1 ||
              cartPageItems2 ||
              cartPageItems3
            "
          >
            Empty Cart
          </button>
        </header>

        <!-- User Cart Page Body -->

        <article class="card-body">
          <div class="cart-content">
            <!-- Display cart items as Rows -->
            <div class="row">
              <!-- Mobiles section -->
              <div class="col-4" *ngFor="let items of cartPageItems">
                {{ items.name }}
                <br />
                <img src="{{ items.image }}" />
                <div class="price">MRP: ₹{{ items.price + "/-" }}</div>
                <h5>Quantity: {{ items.quantity }}</h5>
                <div class="offer-price" *ngIf="items.isTodayOffer === true">
                  Offer Price: <s>{{ items.price }}</s> ₹{{
                    items.offerPrice + "/-"
                  }}
                  <br />
                  Final Price: {{ items.offerPrice + "/-" }}
                </div>
                <hr />
                <button class="buy-now btn btn-primary">Buy Now</button>

                <button class="wishlist btn btn-warning">
                  Add to Wishlist
                </button>
              </div>
            </div>
            <br />
            <div class="row">
              <!-- Computers section -->
              <div class="col-4" *ngFor="let items1 of cartPageItems1">
                {{ items1.name }}
                <br />
                <img src="{{ items1.image }}" />
                <div class="price">MRP: ₹{{ items1.price + "/-" }}</div>
                <h5>Quantity: {{ items1.quantity }}</h5>
                <div class="offer-price" *ngIf="items1.isTodayOffer === true">
                  Offer Price: <s>{{ items1.price }}</s> ₹{{
                    items1.offerPrice + "/-"
                  }}
                  <br />
                  Final Price: {{ items1.offerPrice + "/-" }}
                </div>
                <hr />
                <button class="buy-now btn btn-primary">Buy Now</button>

                <button class="wishlist btn btn-warning">
                  Add to Wishlist
                </button>
              </div>
            </div>
            <div class="row">
              <!-- AC section -->
              <div class="col-4" *ngFor="let items2 of cartPageItems2">
                {{ items2.name }}
                <br />
                <img src="{{ items2.image }}" />
                <div class="price">MRP: ₹{{ items2.price + "/-" }}</div>
                <h5>Quantity: {{ items2.quantity }}</h5>
                <div class="offer-price" *ngIf="items2.isTodayOffer === true">
                  Offer Price: <s>{{ items2.price }}</s> ₹{{
                    items2.offerPrice + "/-"
                  }}
                  <br />
                  Final Price: {{ items2.offerPrice + "/-" }}
                </div>
                <hr />
                <button class="buy-now btn btn-primary">Buy Now</button>

                <button class="wishlist btn btn-warning">
                  Add to Wishlist
                </button>
              </div>
            </div>
            <div class="row">
              <!-- Fridge Section -->
              <div class="col-4" *ngFor="let items3 of cartPageItems3">
                {{ items3.name }}
                <br />
                <img src="{{ items3.image }}" />
                <div class="price">MRP: ₹{{ items3.price + "/-" }}</div>
                <h5>Quantity: {{ items3.quantity }}</h5>
                <div class="offer-price" *ngIf="items3.isTodayOffer === true">
                  Offer Price: <s>{{ items3.price }}</s> ₹{{
                    items3.offerPrice + "/-"
                  }}
                  <br />
                  Final Price: {{ items3.offerPrice + "/-" }}
                </div>
                <hr />
                <button class="buy-now btn btn-primary">Buy Now</button>

                <button class="wishlist btn btn-warning">
                  Add to Wishlist
                </button>
              </div>
            </div>
          </div>
          <!-- Show Empty Text if Cart Empty -->
          <div
            class="cart-empty"
            *ngIf="
              !cartPageItems &&
              !cartPageItems1 &&
              !cartPageItems2 &&
              !cartPageItems3
            "
          >
            <h2>Cart Empty</h2>
          </div>
          <hr />

          <!-- Finalize Cart Section -->

          <div class="finalize-section">
            <h2><u>Finalize Cart:</u></h2>
            <br />
            <div class="total container">
              <!-- Mobiles -->
              <div class="final-price" *ngFor="let items of cartPageItems">
                <h5>
                  <ul>
                    <li>{{ items.name }}:{{ items.price + "/-" }}</li>
                  </ul>
                </h5>
              </div>
              <h3 *ngIf="total1 && total2">+</h3>
              <!-- Computers -->
              <div class="final-price" *ngFor="let items1 of cartPageItems1">
                <h5>
                  <ul>
                    <li>{{ items1.name }} : {{ items1.price + "/-" }}</li>
                  </ul>
                </h5>
              </div>
              <h3 *ngIf="total2 && total3">+</h3>
              <!-- Ac -->
              <div class="final-price" *ngFor="let items2 of cartPageItems2">
                <h5>
                  <ul>
                    <li>{{ items2.name }} : {{ items2.price + "/-" }}</li>
                  </ul>
                </h5>
              </div>
              <h3 *ngIf="total3 && total4">+</h3>
              <!-- Fridge -->
              <div class="final-price" *ngFor="let items3 of cartPageItems3">
                <h5>
                  <ul>
                    <li>{{ items3.name }} : {{ items3.price + "/-" }}</li>
                  </ul>
                </h5>
              </div>
              <hr style="background-color: black;" />
              <br />
              <!-- Total Value of all cart Items -->
              <h4>Your Total: {{ total1 + total2 + total3 + total4 }}</h4>
              <!-- Checkout button -->
              <button class="btn btn-danger checkout">Checkout</button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
