<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container singleproduct-3">
      <div class="card">
        <header class="card-header">
          <span *ngIf="arrivedProduct3">
            Product ID: {{ arrivedProduct3._id }}</span
          >
        </header>
        <article class="card-body">
          <div class="content" *ngIf="arrivedProduct3">
            <b> {{ arrivedProduct3.name }}</b>
            <p *ngFor="let cat of arrivedProduct3.category">
              Category: {{ cat.categoryName }}
            </p>

            <div class="row">
              <div class="col-3">
                <img src="{{ arrivedProduct3.image }}" />
                {{ arrivedProduct3.categoryName }}

                <br /><br />
                <p>{{ arrivedProduct3.description }}</p>
                <div class="price">
                  MRP: ₹{{ arrivedProduct3.price + "/-" }}
                </div>
                <div
                  class="offer-price"
                  *ngIf="arrivedProduct3.isTodayOffer === true"
                >
                  Offer Price: <s>{{ arrivedProduct3.price }}</s> ₹{{
                    arrivedProduct3.offerPrice + "/-"
                  }}
                </div>
              </div>
              <div class="col-8">
                <button class="btn btn-primary" style="float: right;">-</button>
                <button class="btn btn-primary" style="float: right;">+</button>
                <button class="btn btn-warning" style="float: right;">
                  Quantity
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
